*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background: black;
  }
  .nav-link:hover{
    color: #FFD2A4;
  }
  ul{
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  .nav-link{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.9;
    text-decoration: none;
    padding: 20px;
    transform: translateX(110px);
  }
  .logo{
    transform: translateX(90px);
    padding: 10px;
  }
  .btn{
    width: 179px;
    height: 56px;
    background: #FFD2A4;
    border-radius: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #1C1D28;
    transform: translateX(500px);
    cursor: pointer;
  }




